include components/config.pug
html(lang="es")
    include components/head.pug
    body
        section.container__page
            include components/header.pug
            include components/content.pug
            include components/footer.pug
        include components/tags.pug