.carrusel
    +carruselItem("panam.png", "Tenis", "$50.00")
    +carruselItem("ecto1.png", "Ghostbusters Ecto 1", "$60.00")
    +carruselItem("glases.png", "Lentes", "$120.00")
    +carruselItem("streetfigter.png", "Street figther 2 t-shirt", "$20.00")
    +carruselItem("book.png", "libro mario bross", "$20.00")
    +carruselItem("nintendo.png", "mini nes", "$100.00")
    +carruselItem("vinil.png", "Tocadiscos", "$150.00")
    +carruselItem("pacman.png", "Llavero videojuego", "$30.00")
    +carruselItem("megaman.png", "megaman t-shirt", "$30.00")
