section.content__page
    main.content__page__main 
        h1 OLD THINGS FOR
            br
            span  A MODERN LIFE
    .content__page__welcome 
        h2 WELCOME TO THE RETRO SHOP VISIT OUR PRODUCTS SECTIONS
    h2.carrusel__title MOST POPULARS
    include carrusel.pug
    include grid.pug
    .separator    