footer.footer__page
    .separator
    .footer__page__invitation
        img(src=ruta + "bobafett.png", alt="bobba fett")
        .footer__page__invitation__message
            p MAY RETRO
                br
                | STORE BE
                br
                | WITH YOU!
            p.footer__page__invitation__message__subtitle SUBCRIBE TO OUR 
                                                            br
                                                            | NEWSLETTER
    .footer__page__subscription-form
        input(type="email", placeholder="SUBCRIBE ME PLEASE!")
        button(type="submit",) SEND
    .footer__page__black-zone
        .footer__page__logo
            img(src= ruta + "retro-logo.png", alt="logo")
        .footer__page__column-1
            ul
                li 
                    p SECTIONS
                li
                    a(href="#") CLOTH
                li
                    a(href="#") ELECTRONICS
                li
                    a(href="#") TOYS
                li
                    a(href="#") VIDEOGAMES
                li
                    a(href="#") GIFTS
        .footer__page__column-2
            ul
                li 
                    p HELP
                li
                    a(href="#") CONTACT US
                li
                    a(href="#") CHAT WITH US
                li
                    a(href="#") DEVOLUTIONS
                li
                    a(href="#") VIDEOGAMES
                li
                    a(href="#") SHIPPING STATUS
        .footer__page__column-3
            ul
                li 
                    p ABOUT RETROSHOP
                li
                    a(href="#") WHO WE ARE?
                li
                    a(href="#") OUR STORY
        .footer__page__follow-us
            p FOLLOW US
            .footer__page__follow-us__icons
                a(href="#")
                    img(src=ruta + "facebook.png", alt="facebook")
                a(href="#")
                    img(src=ruta + "instagram.png", alt="instagram")
    .footer__page__policy 
        p RETRO SHOP 2020® ALL RIGHTS RESERVED
        a(href="#")  PRIVACY POLICE
    .footer__page__bottom-decoration
