header.header__page
    figure.header__page__logo
        img(src= ruta + "	retro-logo.png", alt="logo")
    .header__page__menu
        ul.header__page__menu
            li.header__page__menu--item
                a(href="/store.html") cloth
            li.header__page__menu--item
                a(href="/store.html") Electronics
            li.header__page__menu--item
                a(href="/store.html") toys
            li.header__page__menu--item
                a(href="/store.html") videogames
            li.header__page__menu--item
                a(href="/store.html") gifts
            li.header__page__menu--item
                a(href="/store.html") Blog
    .header__page__icons
        ul
            li.header__page__icons__search
                a(href="/store.html")
                    img(src=ruta + "search.png", alt="search")
            li.header__page__icons__login
                a(href="/store.html")
                    img(src=ruta + "user.png", alt="login")
            li.header__page__icons__cart
                a(href="/store.html")
                    img(src=ruta + "shopping-bag.png", alt="cart")