.overlay.off#overlay
    .modal#modal
        .modal__header
            .modal__header__descripcion
                h2 Playera Street Fighter 2
                p playera para todas las edades, diferentes tallas
            .modal__header__logo
                img(src= ruta + "retro-logo.png", alt="logo")
            .close#close X
        .modal__detalle
            .modal__detalle__imagen
                img(src= ruta + "streetfigter.png", alt="producto")
            .modal__detalle__info
                h2 DESCRIPTION
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error explicabo similique fuga.
                h2 DETAILS
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi ullam dolor natus deserunt dicta, soluta, rerum assumenda rem alias nihil illum provident eligendi inventore beatae.
                p.precio $20.00
                a(href="#")#add ADD TO CART

section.content__page
    .banner__products
        h2 TOGETHER WE'LL RULE THE GALAXY
        
    .banner__title
        h2 MOST POPULARS
    section.products
        .products__filters

            .checkbox
                h2 FILTER BY PRICE
                .checkbox__item
                    input(type="checkbox")
                    p $100
                .checkbox__item
                    input(type="checkbox")
                    p $200
                .checkbox__item
                    input(type="checkbox")
                    p $300
                .checkbox__item
                    input(type="checkbox")
                    p $500
                .checkbox__item
                    input(type="checkbox")
                    p $700
                .checkbox__item
                    input(type="checkbox")
                    p $600
            .checkbox
                h2 FILTER BY MARK
                .checkbox__item
                    input(type="checkbox")
                    p ADIDAS
                .checkbox__item
                    input(type="checkbox")
                    p NIKE
                .checkbox__item
                    input(type="checkbox")
                    p CONVERSE
                .checkbox__item
                    input(type="checkbox")
                    p PANAM
            .checkbox
                h2 FILTER BY COLOR
                .checkbox__item
                    input(type="checkbox")
                    p RED
                .checkbox__item
                    input(type="checkbox")
                    p BLUE
                .checkbox__item
                    input(type="checkbox")
                    p GREEN
                .checkbox__item
                    input(type="checkbox")
                    p GRAY
                .checkbox__item
                    input(type="checkbox")
                    p TURQOISE
                .checkbox__item
                    input(type="checkbox")
                    p LEMON
            
               
            


        .products__grid
            +carruselItem("panam.png", "Tenis", "$50.00")
            +carruselItem("ecto1.png", "Ghostbusters Ecto 1", "$60.00")
            +carruselItem("glases.png", "Lentes", "$120.00")
            +carruselItem("streetfigter.png", "Street figther 2 t-shirt", "$20.00")
            +carruselItem("book.png", "libro mario bross", "$20.00")
            +carruselItem("nintendo.png", "mini nes", "$100.00")
            +carruselItem("vinil.png", "Tocadiscos", "$150.00")
            +carruselItem("pacman.png", "Llavero videojuego", "$30.00")
            +carruselItem("megaman.png", "megaman t-shirt", "$30.00")
            +carruselItem("panam.png", "Tenis", "$50.00")
            +carruselItem("ecto1.png", "Ghostbusters Ecto 1", "$60.00")
            +carruselItem("glases.png", "Lentes", "$120.00")
                